<main class = "mt-20 container mx-auto">  
    <h2 class = "text-3xl text-center">Welcome To Authentication Application!</h2> 
    <div class="flex flex-row justify-center items-end py-10">  

        <div class = "flex flex-col gap-y-8 items-end max-w-lg border-r-2 border-slate-700 px-16 py-10">      
            <h2 class = "text-xl text-right">Already have an Account?<br>Click here to Login into the Application</h2>
            <button type = "button"><a href="/signin" class = "px-4 py-2 rounded-md shadow-md shadow-slate-200 border-2 border-slate-700 text-lg font-semibold hover:bg-teal-200 transition-all duration-200">Login</a></button>
        </div>

        <div class = "flex flex-col gap-y-8 items-start max-w-lg px-16 py-10">     
            <h2 class = "text-xl text-left">Don't have an Account?<br>Click here to Signup into the Application</h2>
            <button type = "button"><a href="/signup" class = "px-4 py-2 rounded-md shadow-md shadow-slate-200 border-2 border-slate-700 text-lg font-semibold hover:bg-red-200 transition-all duration-200">Signup</a></button> 
        </div>
    </div>
</main>